<div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-between is-flex-mobile">
{% comment %} aタグで資料名を表示 {% endcomment %}
  <h2 class="subtitle is-4">
    <a href="{{ document.get_absolute_url }}">{{ document.name }}</a>
  </h2>
  <h2 class="subtitle is-4">
    <button class="button is-light">
      ≪共有≫
    </button>
  </h2>
  <h2 class="subtitle is-4">
    <button class="button is-light">
      <a href="{{ document.file.url }}">保存</a>
    </button>
  </h2>
  <h2 class="subtitle is-4">
    <button class="button is-light">
      ≪お気に入り≫
    </button>
  </h2>   
</div>