<div class="card column is-3-desktop mx-2 mb-4 is-12-mobile mx-0-mobile mb-0-mobile">
  {% comment %} <div class="card-image">
    <figure class="image is-4by3"> 
      {% if item.image %}
      <img src="{{ item.image.url }}" alt="{{ item.name }}">
      {% else %}
      <img src="/media/noimage.png" alt="{{ item.name }}">
      {% endif %}
    </figure>
  </div> {% endcomment %}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ document.name }}</p>
        <p class="subtitle is-6">{{ document.content }}</p>
      </div>
    </div>
    <div class="content">
      {% comment %} url 'アプリ名:pathネーム' itemのid  {% endcomment %}
      {% comment %} <a href="{% url 'stores:item_detail' item.id%}">詳細を見る</a> {% endcomment %}
      <a href="{{ document.get_absolute_url }}">詳細を見る</a>
    </div>
  </div>
</div>