{% extends 'base.html' %}
{% load static %}
{% comment %} ten-page.htmlに対応 {% endcomment %}

{% block head_title %}
章一覧
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

  {% comment %} 科目名 {% endcomment %}
  <div>≪科目名≫</div>
  {% comment %} 教科書名 {% endcomment %}
  <div>{{ text_name }}</div>

  <div>
    {% comment %} 各章を表示↓ {% endcomment %}
    {% for chapter in chapter_list %} 
    <div>{{ chapter }}</div>
      <div>
        {% comment %} 各章の節を表示↓ {% endcomment %}
        {% for section in chapter.sections.all %} 
          <div>{{ section.name }}
            {% comment %} 各節のカテゴリーごとに画面遷移する {% endcomment %}
            <a href="{% url 'teachhub:document_note' section.id %} ">板書案</a>
            <a href="{% url 'teachhub:document_test' section.id %}">小テスト</a>   
          </div>
        {% endfor %}
      </div>      
    {% endfor %}
  </div>
{% endblock content %} 
 