{% extends 'base.html' %}
{% load static %}
{% comment %} ten-page.htmlに対応 {% endcomment %}

{% block head_title %}
章一覧
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

  <!-- {% comment %} 科目名 {% endcomment %}
  <div>≪科目名≫</div>
  {% comment %} 教科書名 {% endcomment %}
  <div>{{ text_name }}</div> 
  
  <div>
    {% comment %} 各章を表示↓ {% endcomment %}
    {% for chapter in chapter_list %} 
    <div>{{ chapter }}</div>
      <div>
        {% comment %} 各章の節を表示↓ {% endcomment %}
        {% for section in chapter.sections.all %} 
          <div>{{ section.name }}
            {% comment %} 各節のカテゴリーごとに画面遷移する {% endcomment %}
            <a href="{% url 'teachhub:document_note' section.id %} ">板書案</a>
            <a href="{% url 'teachhub:document_test' section.id %}">小テスト</a>   
          </div>
        {% endfor %}
      </div>      
    {% endfor %}
  </div> -->

<!-- ここから -->
  <div class="contents">
    <div class="contents-header">
        <div class="lesson-title subtitle">日本史</div>
        <!-- <div class="member">
            <div class="member-logo">メンバー</div>
            <div class="member-icons">
                <img class="member-img1" src="{% static 'teachhub/img/user-img1.jpg' %}" alt="">
                <img class="member-img2" src="{% static 'teachhub/img/user-img2.jpg' %}" alt="">
                <img class="member-img3" src="{% static 'teachhub/img/user-img3.jpg' %}" alt="">
            </div>
            <a class="menb-add-icon add-icon" href=""> 
                <div class="horizon"></div>
                <div class="vertical"></div>
            </a>
        </div> -->
    </div>
    <div class="contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="開いたフォルダの画像">
        <div>{{ text_name }}</div>
    </div>

    {% comment %} 各章を表示↓ {% endcomment %}
    {% for chapter in chapter_list %} 
    <div class="contents-dir-unit">
        <div>
            <div class="contents-dir-unit-title">{{ chapter }}</div>
        </div>
        {% comment %} 各章の節を表示↓ {% endcomment %}
        {% for section in chapter.sections.all %} 
        <div class="contents-dir-textbook contents-dir">
            <img src="{% static 'teachhub/img/folder-icon.svg' %}" alt="フォルダの画像">
            <div class="section-name">{{ section.name }}</div>
            <div class="document-links">
              <button class="button" >
                <a href="{% url 'teachhub:document_note' section.id %} ">板書案</a>
              </button>
              <button class="button" >
                <a href="{% url 'teachhub:document_test' section.id %}">小テスト</a>
              </button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %} 
 