{% extends 'base.html' %}
{% load static %}
{% comment %} eleven-page.htmlに対応 {% endcomment %}

{% block head_title %}
板書案一覧
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}


<div class="contents">
    <div class="contents-header">
        <div class="lesson-title subtitle">日本史</div>
        <!-- <div class="member">
            <div class="member-logo">メンバー</div>
            <div class="member-icons">
                <img class="member-img1" src="{% static 'teachhub/img/user-img1.jpg' %}" alt="">
                <img class="member-img2" src="{% static 'teachhub/img/user-img2.jpg' %}" alt="">
                <img class="member-img3" src="{% static 'teachhub/img/user-img3.jpg' %}" alt="">
            </div>
            <a class="menb-add-icon add-icon" href="">
                <div class="horizon"></div>
                <div class="vertical"></div>
            </a>
        </div> -->
    </div>
    <div class="contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="開いたフォルダの画像">
        <div>{{ textbook_name }}</div>
    </div>
    
    <div class="contents-dir-textbook contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="フォルダの画像">
        <div>{{ chapter_name }} / {{ section_name }}</div>
    </div>
    <div class="contents-dir-textbook contents-dir upload-button">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">アップロード</button>
        </form>
        <!-- <div class="icons-space">
            <a href="" class="mkdir-space icons">
                <img src="{% static 'teachhub/img/folder-add.svg' %}" alt="フォルダを作成の画像">
                <div>フォルダを作成</div>
            </a>
        </div> -->
    </div>
    <ul>
        {% for document in documents %}
        {% comment %} document_detail.htmlへ画面遷移 {% endcomment %}
        <li>
            <div class="paper-dir">
                <div class="contents-dir paper">
                    <div class="hoge">
                        <img class="paper-img" src="{% static 'teachhub/img/paper.svg' %}" alt="開いたフォルダの画像">
                        <a class="paper-title" href="{{ document.get_absolute_url }}">{{ document.name }}</a>
                    </div>
                    <div class="paper-icons-space">
                        <!-- <a class="icons" href="">
                            <img src="../static/teachhub/img/share.svg" alt="共有のアイコン">
                            <div>共有</div>
                        </a> -->
                        <a class="icons document-note-save-icon" href="{{ document.file.url }}">
                            <img src="{% static 'teachhub/img/download.svg' %}" alt="ダウンロードアイコン">
                            <div>保存</div>
                        </a>
                        <!-- <a class="icons white-stare" href="">
                            <img src="../static/teachhub/img/white-stare.svg" alt="お気に入りボタンの画像">
                        </a> -->
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
        <div class="last-contents-border document-note-border"></div>
    </ul>
</div>

{% endblock content %}