{% extends 'base.html' %}
{% load static %}


{% block head_title %}
{{ document.name }} 削除
{% endblock head_title%}


{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}


{% block content %}
    
    <div class="delete-comfirm-page">
        <div>本当に削除しますか？</div>
        <form method="POST"> 
            {% csrf_token %}
            <div>
                <button class="delete-button">削除する</button>
            </div>
        </form>
    </div>

{% endblock content %}