{% extends 'base.html' %}
{% load static %}
{% comment %} twelve-page.htmlに対応 {% endcomment %}

{% block head_title %}
{% comment %} 資料名 {% endcomment %}
{{ document.name }}
{% endblock head_title %}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

<div class="contents">
    <div class="contents-header">
        <div class="lesson-title">日本史</div>
        <!-- <div class="member">
            <div class="member-logo">メンバー</div>
            <div class="member-icons">
                <img class="member-img1" src="{% static 'teachhub/img/user-img1.jpg' %}" alt="">
                <img class="member-img2" src="{% static 'teachhub/img/user-img2.jpg' %}" alt="">
                <img class="member-img3" src="{% static 'teachhub/img/user-img3.jpg' %}" alt="">
            </div>
            <a class="menb-add-icon add-icon" href="">
                <div class="horizon"></div>
                <div class="vertical"></div>
            </a>
        </div> -->
    </div>
    <div class="contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="開いたフォルダの画像">
        <div>{{ document.textbook }}</div>
        <!--教科書名 -->
    </div>
    <div class="contents-dir-textbook contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="フォルダの画像">
        <div>{{ document.section }} {{ document.category }}</div>
        <!--節・章 -->
    </div>
    <div class="text-prev-title">
        <div class="text-prev-title-text">{{ document.name }}</div> <!-- タイトル -->
        <div class="prev-ope">
            <a class="icons prev-icon" href="{{ document.file.url }}">
                <img src="{% static 'teachhub/img/download.svg' %}" alt="ダウンロードアイコン">
                <div>保存</div>
            </a>
            <!-- <a class="icons prev-icon henshu" href="{% url 'teachhub:update_document' document.id %}">
                <img src="{% static 'teachhub/img/pencile.svg' %}" alt="編集アイコン">
                <div>編集</div>
            </a> -->
            <a class="icons prev-icon" href="{% url 'teachhub:render_history' document.id %}">
                <img src="{% static 'teachhub/img/sunadokei.svg' %}" alt="変更履歴アイコン">
                <div>変更履歴</div>
            </a>
            <a class="icons prev-icon" href="{% url 'teachhub:delete_document' document.id %}">
                <img src="{% static 'teachhub/img/trashbox.svg' %}" alt="ゴミ箱アイコン">
                <div>ゴミ箱</div>
            </a>
        </div>

    </div>
    <!-- モーダルエリアここから -->
    <section id="modalArea" class="modalArea">
        <div id="modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">
                <p>本当に削除しますか？</p>
                <div class="modal-button">
                    <div id="back-button">戻る</div>
                    <input type="submit" value="削除">
                </div>
            </div>
            <div id="closeModal" class="closeModal">
                ×
            </div>
        </div>
    </section>
    <!-- モーダルエリアここまで -->
    <div class="prev-area">
        <!-- <object data="" type="">ここにテキストがはいるここにテキストがはいる</object> -->
        <iframe src="{{path}}" width="850" height="1200"></iframe>
    </div>
</div>

{% endblock content %}