{% extends 'base.html' %}
{% load static %}

{% block head_title %}
{% comment %} /documents/create/ , /documents/1/update/ {% endcomment %}
{% if 'create' in request.path %}
  資料作成
{% else %}
  {{ form.instance.name }} 編集
{% endif %}
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="field">
  <label class="label">資料名</label>
  <div class="control">
    {{ form.name }}
  </div>
  {% if form.name.errors %}
    {% for error in form.name.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">教科書</label>
  <div class="control">
    {{ form.textbook }}
  </div>
  {% if form.textbook.errors %}
    {% for error in form.textbook.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">章</label>
  <div class="control">
    {{ form.chapter }}
  </div>
  {% if form.chapter.errors %}
    {% for error in form.chapter.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">節</label>
  <div class="control">
    {{ form.section }}
  </div>
  {% if form.section.errors %}
    {% for error in form.section.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">カテゴリー</label>
  <div class="control">
    {{ form.category }}
  </div>
  {% if form.category.errors %}
    {% for error in form.category.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <label class="label">資料説明</label>
  <div class="control">
    {{ form.content }}
  </div>
  {% if form.content.errors %}
    {% for error in form.content.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field">
  <div class="file has-name">
    <label class="file-label">
      {{ form.file }}
    </label>
  </div>
  {% if form.file.errors %}
    {% for error in form.file.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">
        {% if 'create' in request.path %}
          作成する
        {% else %}
          編集する
        {% endif %}
    </button>
  </div>
</div>
</form>
{% endblock content %}