{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ブラウザにドラッグ＆ドロップして確認するためのリンク（Djangoで起動できたら消す） -->
    <link rel="stylesheet" href="../static/teachhub/css/textbooks.css">
    <link rel="stylesheet" href="../static/teachhub/css/chapter_list.css">
    <link rel="stylesheet" href="../static/teachhub/css/document_note.css">
    <link rel="stylesheet" href="../static/teachhub/css/document_detail.css">
    <script type="text/javascript" src="../static/teachhub/js/jquery-3.5.1.min.js"></script>
    <!-- 消すのはここまで -->


    <!-- Djangoで起動した時のcssとjsリンク -->
    <link rel="stylesheet" href="{% static 'teachhub/css/textbooks.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/chapter_list.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/document_note.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/document_detail.css' %}">
    <script type="text/javascript" src="{% static 'teachhub/js/jquery-3.5.1.min.js' %"></script>

    <title>TeachHub</title>
</head>

<body>
    <div class="header">
        <div class="header-logo">TeachHub</div>
        <div class="header-user">
            <img src="../static/teachhub/img/user-example.svg" alt="ユーザーアイコン">
            <div class="user-name">ユーザー名</div>
        </div>
    </div>
    <div class="main">
        <div class="menu-tags">
            <!-- 左のメニューバーの部分-->
            <div class="sha-cre-mem">
                <!-- 資料作成・共有-->
                <div class="sha-cre-mem-dirs">
                    <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="フォルダの画像">
                    <div>資料作成・共有</div>
                    <a class="dir-add-icon add-icon" href="">
                        <!-- + (追加）のアイコン -->
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div>
                <div class="sha-cre-mem-dir">
                    <img src="../static/teachhub/img/sha-cre-men-icatch.svg" alt="このディレクトリのアイキャッチ">
                    <div>グループや個人名など</div>
                </div>
            </div>
            <div class="sha-cre-mem left-bookmark">
                <!-- 資料作成・共有-->
                <div class="sha-cre-mem-dirs">
                    <img src="../static/teachhub/img/black-stare.svg" alt="資料作成・共有のアイキャッチ">
                    <div>ブックマーク</div>
                    <a class="dir-add-icon add-icon" href="">
                        <!-- + (追加）のアイコン -->
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div>
                <div class="sha-cre-mem-dir">
                    <img src="../static/teachhub/img/folder-icon.svg" alt="このディレクトリのアイキャッチ">
                    <div>ディレクトリの名前など</div>
                </div>
            </div>
        </div>


        <!-- {% load static %}
        {% block content %} -->
        <div class="contents">
            <div class="contents-header">
                <div class="lesson-title subtitle">教科資料</div>
                <!-- <div class="member">
                    <div class="member-logo">メンバー</div>
                    <div class="member-icons">
                        <img class="member-img1" src="../static/teachhub/img/user-img1.jpg" alt="">
                        <img class="member-img2" src="../static/teachhub/img/user-img2.jpg" alt="">
                        <img class="member-img3" src="../static/teachhub/img/user-img3.jpg" alt="">
                    </div>
                    <a class="menb-add-icon add-icon" href=""> 
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div> -->
            </div>
            <!-- <div class="add-textbook">
                <a href="">教科書を追加</a>
            </div> -->

            <div class="contents-dir-unit">
                {% for item in areas_with_classifications %}
                <div>
                    <div class="contents-dir-unit-title subtitle">{{item.classification.name}}
                    </div>
                </div>
                {% for area in item.areas %}
                <a class="contents-dir-textbook contents-dir"
                    href="{% url 'teachhub:subjects' item.classification.id area.id %}">
                    <img src="../static/teachhub/img/folder-icon.svg" alt="フォルダの画像">
                    <div class="subtitle">
                        {{area.name }}
                    </div>
                </a>
                {% endfor %}
                <div class="last-contents-border"></div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}


    </div>
    <script src="../static/teachhub/js/doc-cre-document.js"></script>
    <!-- Django用のjsリンク -->
    <script src="{% static 'teachhub/js/doc-cre-docsument.js' %}"></script>
</body>

</html>