
{% extends 'base.html' %}
{% load static %}
{% comment %} nine-page.htmlに対応 {% endcomment %}

{% block head_title %}
教科
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}
        <div class="contents">
            <div class="contents-header">
                <div class="lesson-title subtitle">教科資料</div>
                <!-- <div class="member">
                    <div class="member-logo">メンバー</div>
                    <div class="member-icons">
                        <img class="member-img1" src="../static/teachhub/img/user-img1.jpg" alt="">
                        <img class="member-img2" src="../static/teachhub/img/user-img2.jpg" alt="">
                        <img class="member-img3" src="../static/teachhub/img/user-img3.jpg" alt="">
                    </div>
                    <a class="menb-add-icon add-icon" href=""> 
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div> -->
            </div>
            <!-- <div class="add-textbook">
                <a href="">教科書を追加</a>
            </div> -->

            <div class="contents-dir-unit">
                {% for item in areas_with_classifications %}
                <div>
                    <div class="contents-dir-unit-title subtitle">{{item.classification.name}}
                    </div>
                </div>
                {% for area in item.areas %}
                <a class="contents-dir-textbook contents-dir"
                    href="{% url 'teachhub:subjects' item.classification.id area.id %}">
                    <img src="../static/teachhub/img/folder-icon.svg" alt="フォルダの画像">
                    <div class="subtitle">
                        {{area.name }}
                    </div>
                </a>
                {% endfor %}
                <div class="last-contents-border-subject"></div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}

