{% extends 'base.html' %}
{% load static %}
{% comment %} nine-page.htmlに対応 {% endcomment %}

{% block head_title %}
教科
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

<div class="contents">
    <div class="contents-header">
        <div class="lesson-title subtitle">教科資料</div>
        <!-- <div class="member">
                    <div class="member-logo">メンバー</div>
                    <div class="member-icons">
                        <img class="member-img1" src="../static/teachhub/img/user-img1.jpg" alt="">
                        <img class="member-img2" src="../static/teachhub/img/user-img2.jpg" alt="">
                        <img class="member-img3" src="../static/teachhub/img/user-img3.jpg" alt="">
                    </div>
                    <a class="menb-add-icon add-icon" href="">
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div> -->
    </div>
    <div class="contents-dir-unit">
         <div class="contents-dir-unit-title subtitle">{{ classification_name }}</div>
    </div>
    <div class="contents-dir">
        <img src="{% static 'teachhub/img/open-folder.svg' %}" alt="開いたフォルダの画像">
        <div class="subtitle">{{ subject_area_name }}</div>
    </div>
    <div class="first-contents-border"></div>
    <div class="contents-dir-unit">
        {% for subject in subjects %}
        <a class="contents-dir-textbook contents-dir-subject-list" href="{% url 'teachhub:textbook_list' subject.id %}">
            <img src="{% static 'teachhub/img/folder-icon.svg' %}" alt="フォルダの画像">
            <div class="subtitle-subject">{{ subject }}</div>
        </a>
        {% endfor %}
    </div>
    <div style="margin-bottom: 200px;"></div>
</div>
{% endblock %}