{% extends 'base.html' %}
{% load static %}
{% comment %} nine-page.htmlに対応 {% endcomment %}

{% block head_title %}
教科書一覧
{% endblock head_title%}

{% block extra_head %}
{% comment %} 追加があれば {% endcomment %}
{% endblock extra_head %}

{% block content %}

<div class="lesson-title">≪科目名≫</div>
{% for textbook in textbook_list %}
<div><a href="{% url 'teachhub:chapter_list' textbook.id %} ">{{ textbook }}</a></div>
{% endfor %}

<div class="contents">
    <div class="contents-header">
        <div class="lesson-title">〇〇高校 日本史</div>
        <div class="member">
            <div class="member-logo">メンバー</div>
            <div class="member-icons">
                <img class="member-img1" src="{% static 'teachhub/img/user-img1.jpg' %}" alt="">
                <img class="member-img2" src="{% static 'teachhub/img/user-img2.jpg' %}" alt="">
                <img class="member-img3" src="{% static 'teachhub/img/user-img3.jpg' %}" alt="">
            </div>
            <a class="menb-add-icon add-icon" href="">
                <!-- + (追加）のアイコン -->b
                <div class="horizon"></div>
                <div class="vertical"></div>
            </a>
        </div>
    </div>
    <div class="add-textbook">
        <a href="">教科書を追加</a>
    </div>
    {% for textbook in textbook_list %}
    <a class="contents-dir" href="{% url 'teachhub:chapter_list' textbook.id %} ">
        <img src="{% static 'teachhub/img/folder-icon.svg' %}" alt="フォルダの画像">
        <div>{{ textbook }}</div>
    </a>
    {% endfor %}
</div>

{% endblock content %}