{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Djangoで起動した時のcssとjsリンク -->
  <link rel="stylesheet" href="{% static 'teachhub/css/textbooks.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/chapter_list.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/document_note.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/document_detail.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/history.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/signup.css' %}">
  <link rel="stylesheet" href="{% static 'teachhub/css/upload.css' %}">
  <script type="text/javascript" src="{% static 'teachhub/js/jquery-3.5.1.min.js' %"></script>

  <title>TeachHub</title>
</head>

<body>
  <div class="header">
    <div class="header-logo">TeachHub</div>
    <a class="log-in" href="{% url 'accounts:signup' %}">新規登録</a>
  </div>
  <div class="signup-page-main">
    <div class="new-signup">ログイン</div>
    <form method="post">
      <div class=" input-form">
        {% csrf_token %}
        <div>メールアドレス</div>
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div class="input-form">
        <div>パスワード</div>
        {{ form.password }}
        {{ form.password.errors }}
      </div>
      <input class="submit-botton" type="submit" value="ログイン">
    </form>
  </div>
  <script src="{% static 'teachhub/js/doc-cre-docsument.js' %}"></script>
  <!-- Django用のjsリンク -->
  <script src="{% static 'teachhub/js/doc-cre-docsument.js' %}"></script>
</body>

</html>