
.contents-dir-unit> div{
    width: 93.5%;
    text-align: left;
    margin-left: 45px;
    padding-bottom: 10px;
}
.contents-dir-unit-title{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 16px;
}

.contents-dir-textbook{
    margin-left: 55px;
    width: 92.2%;
    position: relative;
}
.contents-dir-textbook:hover{
    background: white;
}
.section-name{
    /* margin-right: calc(100% - 400px); */
}
.document-links{
    width: 250px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0px;
}
.document-links > button{
    box-shadow: none;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background: #969393;
    color: white;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.125em;
    transition: 0.2s;
}
.document-links > button > a{
    display: block;
    font-size: 16px;
}
.document-links > button:hover{
    background: white;
    color: #707070;
    border: 1px solid #707070;
    box-sizing:border-box;
}