.text-prev-title{
    margin-left: 65px;
    /* display: flex; */
    line-height: 45px;
    position: relative;
}
.text-prev-title-text{
    font-size: 20px;
    text-align: left;
}
.prev-ope{
    display: flex;
    position: absolute;
    right: 30px;
    cursor: pointer;
    
}
/* .button{
    display: flex;
    margin-top: 5px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    background:#fff;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.125em;
    transition: 0.2s;
} */
.button{
    border-radius: 5px;
    margin-left: 5px;
}
.prev-ope > .button:active{
    border: 1px solid #fdfdfd;
}
.prev-ope > .icons >a{
    /* display: block; */
}

.prev-area{
    margin: 70px 15px 20px 64px; 
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 92%;
}

/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.7);
  }
  
  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 300px;
    height: 200px;
    max-width: 500px;
    border-radius: 5px;
    background-color: #fff;
  }
  .modalContents >p{
      margin: 30px 0 30px 0;
  }
  .modal-button{
      margin-top: 90px;
      margin-left: 100px;
      display: flex;
  }
  .modal-button >div{
      width: 80px;
      height: 40px;
      background-color: #707070;
      line-height: 40px;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      transition: 0.4s;
  }
  .modal-button >div:hover{
      background-color: white;
      color: #707070;
      border: 2px solid #707070;
      cursor: pointer;
  }
  .modal-button >input{
      width: 80px;
      height: 40px;
      margin-left: 20px;
      background-color: #707070;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      transition: 0.4s;
  }
  .modal-button >input:hover{
    background-color: white;
    color: #707070;
    border: 2px solid #707070;
    cursor: pointer;
}
  .closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 24px;
    cursor: pointer;
  }

  
  