.text-prev-title{
    margin-left: 65px;
    /* display: flex; */
    line-height: 45px;
    position: relative;
}
.text-prev-title-text{
    font-size: 20px;
    text-align: left;
}
.prev-ope{
    display: flex;
    position: absolute;
    right: 10px;
}
.prev-ope > button{
    margin-top: 5px;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    background:#fff;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.125em;
    transition: 0.2s;
}
.prev-ope > button:active{
    border: 1px solid #efefef;
}
.prev-ope > .icons >a{
    /* display: block; */
}

.prev-area{
    margin: 50px 15px 20px 64px; 
    border-radius: 5px;
    border: 1px solid #aaa;
}