.input-form > select{
    height: 40px;
    width: 450px;
    font-size: 16px;
}
.input-form > input{
    height: 40px;
    width: 450px;
    font-size: 16px;
    font-size: 16px;
}
.input-form > {
    height: 40px;
    width: 450px;
    font-size: 16px;
}
.input-form > .text-description{
    height: 100px;
}
.input-form > textarea{
    font-size: 16px;
}

.category-form{
    display: flex;
}
.category-form> input.category-radio{
    height: 20px;
    width: 30px;
}
.category-form> input.category-radio2{
    margin-left: 100px;
}
