<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} cssテンプレート bulma {% endcomment %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet">
    <link rel="stylesheet" href="{% static 'teachhub/css/nine-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/ten-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/eleven-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/twelve-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/upload.css' %}">
    <script type="text/javascript" src="{% static 'teachhub/js/jquery-3.5.1.min.js' %"></script>
    {% block extra_head %}{% endblock %}
    <title>{% block head_title %}{% endblock %} | teachhub</title>
</head>

<body>
    <div class="header">
        <div class="header-logo">TeachHub</div>
        <div class="header-handle">
            <a class="header-logout" href="{% url 'logout' %}">ログアウト</a>
            <a class="header-user">
                <img src="{% static 'teachhub/img/user-example.svg' %}" alt="ユーザーアイコン">
                {% comment %} ログイン名の表示 {% endcomment %}
                {% if user.is_authenticated %}
                    <div class="user-name">{{ user.get_username }}</div>
                {% else %}
                    <div class="user-name">ログインしていません</div>
                {% endif %}
                {% comment %} <div class="user-name">ユーザー名</div> {% endcomment %}
            </a>
        </div>
        
        <!-- <a href="{% url 'logout' %}">ログアウト</a> -->
    </div>
    <div class=" main">
        <div class="menu-tags">
            <!-- 左のメニューバーの部分-->
            <div class="sha-cre-mem">
                <!-- 資料作成・共有-->
                <div class="sha-cre-mem-dirs">
                    <!-- <img src="../static/teachhub/img/sha-cre-men-icatch.svg" alt="資料作成・共有のアイキャッチ"> -->
                    <img src="{% static 'teachhub/img/sha-cre-men-icatch.svg' %}" alt="資料作成・共有のアイキャッチ">
                    <div>資料作成・共有</div>
                    <a class="dir-add-icon add-icon" href="">
                        <!-- + (追加）のアイコン -->
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div>
                <div class="sha-cre-mem-dir">
                    <!-- <img src="../static/teachhub/img/sha-cre-men-icatch.svg" alt="このディレクトリのアイキャッチ"> -->
                    <img src="{% static 'teachhub/img/sha-cre-men-icatch.svg' %}" alt="このディレクトリのアイキャッチ">
                    <div>グループや個人名など</div>
                </div>
            </div>
            <!-- <div class="sha-cre-mem left-bookmark">
                <div class="sha-cre-mem-dirs">
                    <img src="{% static 'teachhub/img/black-stare.svg' %}" alt="資料作成・共有のアイキャッチ">
                    <div>ブックマーク</div>
                    <a class="dir-add-icon add-icon" href="">
                        <div class="horizon"></div>
                        <div class="vertical"></div>
                    </a>
                </div>
                <div class="sha-cre-mem-dir">
                    <img src="{% static 'teachhub/img/folder-icon.svg' %}" alt="このディレクトリのアイキャッチ">
                    <div>ディレクトリの名前など</div>
                </div>
            </div> -->
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript"  src="{% static 'teachhub/js/eleven-page.js' %}"></script>
    <script type="text/javascript"  src="{% static 'teachhub/js/twelve-page.js' %}"></script>
</body>

</html>