<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} cssテンプレート bulma {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    {% block extra_head %}{% endblock %}
    <title>{% block head_title %}{% endblock %} | teachhub</title>
</head>

<body>

  {% comment %} {% include 'layouts/_navbar.html' %} {% endcomment %}

  <section class="section">
    <div class="container is-max-desktop">
      {% block content %}
      {% endblock %}
    </div>
  </section>
</body>

</html>
