<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ブラウザにドラッグ＆ドロップして確認するためのリンク（Djangoで起動できたら消す） -->
    <link rel="stylesheet" href="../static/teachhub/css/nine-page.css">
    <link rel="stylesheet" href="../static/teachhub/css/ten-page.css">
    <link rel="stylesheet" href="../static/teachhub/css/eleven-page.css">
    <link rel="stylesheet" href="../static/teachhub/css/twelve-page.css">
    <link rel="stylesheet" href="../static/teachhub/css/signup.css">
    <link rel="stylesheet" href="../static/teachhub/css/upload.css">
    <script type="text/javascript" src="../static/teachhub/js/jquery-3.5.1.min.js"></script>

    <!-- 消すのはここまで -->


    <!-- Djangoで起動した時のcssとjsリンク -->
    <link rel="stylesheet" href="{% static 'teachhub/css/nine-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/ten-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/eleven-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/twelve-page.css' %}">
    <link rel="stylesheet" href="{% static 'teachhub/css/signup.css' %}">
    <script type="text/javascript" src="{% static 'teachhub/js/jquery-3.5.1.min.js' %"></script>

    <title>TeachHub</title>
</head>
<body>
    <div class="header">
        <div class="header-logo">TeachHub</div>
        <div class="header-user">
            <img src="../static/teachhub/img/user-example.svg" alt="ユーザーアイコン">
            <div class="user-name">ユーザー名</div>
        </div>
    </div>

    <div class="signup-page-main">
        <form method="post" action="example.cgi">
            <div class="new-signup">アップロード</div>
            <div class="input-form">
                <div>教科書名</div>
                <select class="input" name="textbook-name" size="1">
                    <option value="山川" label="山川">山川</option>
                    <option value="東書" label="東書">東書</option>
                </select>
            </div>
            <div class=" input-form">
                <div>章</div>
                <select  name="chapter" size="1">
                    <option value="山川" label="山川">山川</option>
                    <option value="東書" label="東書">東書</option>
                </select>
            </div>
            <div class=" input-form">
                <div>節</div>
                <select name="section" size="1">
                    <option value="山川" label="山川">山川</option>
                    <option value="東書" label="東書">東書</option>
                </select>
            </div>
            <div class=" input-form">
                <div>資料名</div>
                <select name="document-name" size="1">
                    <option value="山川" label="山川">山川</option>
                    <option value="東書" label="東書">東書</option>
                </select>
            </div>
            <div class="input-form">
                <div>資料説明</div>
                </textarea><textarea name="" id="" cols="48" rows="10"></textarea>
            </div>
            <div class="input-form">
                <div>ファイル選択</div>
                <input type="file">
            </div>
            <div class="input-form">
                <div>カテゴリー</div>
                <div class=" category-form">
                    <input class="category-radio" type="radio" name="option1" value="授業資料">授業資料
                    <input class="category-radio category-radio2" type="radio" name="option1" value="テスト">テスト
                </div>
            </div>
            <div class="input-form">
                <div>更新者</div>
                <input type="text">
            </div>
            <div class="input-form">
                <div>作成者</div>
                <input type="text">
            </div>
            <input class="submit-botton" type="submit"  value="アップロード">

        </form>
        
    </div>
    <script src="../static/teachhub/js/doc-cre-document.js"></script>
    <!-- Django用のjsリンク -->
    <script src="{% static 'teachhub/js/doc-cre-docsument.js' %}"></script>
</body>
</html>